footer {
  margin-top: 10px;
  background-color: lightgray;
  display: flex;

  .copyright {
    display: block;
    flex: 1;
    align-items: center;
    margin-left: 20px;
  }

  .devinfo {
    display: block;
    align-items: center;
    margin-right: 20px;
  }
}