body {
  background: url("../images/music_background.jpg") repeat;
  backdrop-filter: blur(2px);
  background-size: 40%;

  main {
    margin: 0 140px 0 140px;
    background-color: #eeeeee;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  }
}